fastapi
python-multipart
uvicorn
sqlalchemy[asyncio]
asyncpg
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
pydantic
boto3
httpx
celery
redis
scikit-learn
pydantic-settings
pdfminer.six
vaderSentiment
black
ruff
